<i class="material-icons orange600">face</i>{{userService.getUser().name}}
<table *ngIf="rooms!=null">
    <tr>
        <th></th>
        <th *ngFor="let room of rooms">{{room.name}}</th>
    </tr>
    <tr *ngFor="let row of bookings.rows;let rowindex=index">
        <td>{{row.startdate | date:'hh:mm'}}-{{row.enddate | date:'hh:mm'}}</td>
        <td *ngFor="let room of rooms;let columnindex=index" 
            align="center" (click)="onCellClicked(rowindex,columnindex)" 
            [ngStyle]="{'background-color':isCellEmpty(rowindex,columnindex) ? 'green' : 'red'}">
            {{(bookings.rows[rowindex].bookedbyuser[columnindex])?.name}}
        </td>
    </tr>
</table>

