<form [formGroup]="userform" class="user-form">
    <mat-form-field class="user-full-width">
        <input matInput formControlName="id" placeholder="Userid">
    </mat-form-field>
    <mat-form-field class="user-full-width">
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="user-full-width">
        <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
    <p>
        <button mat-stroked-button (click)="save()">Save</button>
        <button mat-stroked-button *ngIf="!newuser" (click)="delete()">Delete</button>
    </p>
</form>